@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: "Gotham";
	src: url("assets/fonts/Gotham-Bold.otf");
}

* {
	font-family: "Gotham";
}
