@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: "Gotham";
	src: url("assets/fonts/Gotham-Bold.otf");
}

* {
	font-family: "Gotham";
}

::-webkit-scrollbar {
	padding: 1rem;
	left: -100px;
	width: 0.5rem;
	border-radius: 10rem;
}

::-webkit-scrollbar-track {
	border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #242424;
	border-radius: 10rem;
	padding: 1rem;
	margin: 1rem;
	border: solid 3px transparent;
}
